In [2]:
!pip install polars

Collecting polars
  Downloading polars-0.15.16-cp37-abi3-win_amd64.whl (16.2 MB)
     ---------------------------------------- 16.2/16.2 MB 7.8 MB/s eta 0:00:00
Installing collected packages: polars
Successfully installed polars-0.15.16

# Data manipulation with Polars

In [3]:
import polars as pl

In [4]:
df = pl.DataFrame({
    "A": [1, 2, 3, 4, 5],
    "fruits": ["banana", "banana", "apple", "apple", "banana"],
    "B": [5, 4, 3, 2, 1],
    "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
    }
)

In [5]:
df.sort("fruits").select(
    [
        "fruits",
        "cars",
        pl.lit("fruits").alias("literal_string_fruits"),
        pl.col("B").filter(pl.col("cars") == "beetle").sum(),
        pl.col("A").filter(pl.col("B") > 2).sum().over("cars").alias("sum_A_by_cars"),
        pl.col("A").sum().over("fruits").alias("sum_A_by_fruits"),
        pl.col("A").reverse().over("fruits").alias("rev_A_by_fruits"),
        pl.col("A").sort_by("B").over("fruits").alias("sort_A_by_B_by_fruits"),
    ]
)

shape: (5, 8)
┌────────┬────────┬─────────────────────┬─────┬───────────────┬─────────────────┬─────────────────┬────────────────────┐
│ fruits ┆ cars   ┆ literal_string_frui ┆ B   ┆ sum_A_by_cars ┆ sum_A_by_fruits ┆ rev_A_by_fruits ┆ sort_A_by_B_by_fru │
│ ---    ┆ ---    ┆ ts                  ┆ --- ┆ ---           ┆ ---             ┆ ---             ┆ its                │
│ str    ┆ str    ┆ ---                 ┆ i64 ┆ i64           ┆ i64             ┆ i64             ┆ ---                │
│        ┆        ┆ str                 ┆     ┆               ┆                 ┆                 ┆ i64                │
╞════════╪════════╪═════════════════════╪═════╪═══════════════╪═════════════════╪═════════════════╪════════════════════╡
│ apple  ┆ beetle ┆ fruits              ┆ 11  ┆ 4             ┆ 7               ┆ 4               ┆ 4                  │
│ apple  ┆ beetle ┆ fruits              ┆ 11  ┆ 4             ┆ 7               ┆ 3               ┆ 3                  │
│ banana ┆ beetle ┆ fruits              ┆ 11  ┆ 4             ┆ 8               ┆ 5               ┆ 5                  │
│ banana ┆ audi   ┆ fruits              ┆ 11  ┆ 2             ┆ 8               ┆ 2               ┆ 2                  │
│ banana ┆ beetle ┆ fruits              ┆ 11  ┆ 4             ┆ 8               ┆ 1               ┆ 1                  │
└────────┴────────┴─────────────────────┴─────┴───────────────┴─────────────────┴─────────────────┴────────────────────┘